#card-holder {
  width: 50vw;
  height: 80vh;
  /* margin: auto; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 1px solid red; */
  position: absolute;
  top: 50%;
  transform: translate(50%, -50%);
  background-color: aliceblue;
}
#card-container {
  width: 90%;
  /* border: 2px solid blue; */
  margin: auto;
}
#navbar {
  width: 90%;
  /* border: 2px solid blue; */
  text-align: end;
}
#card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 1px solid red; */
  padding: 1em;
  width: 100%;
}
#card-close {
  width: 30px;
  height: 30px;
}
input {
  height: 2rem;
  width: 90%;
  border: 1px solid black;
}
#form {
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: center;
  width: 100%;
}
#form textarea {
  border: 1px solid black;
}
#input-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  /* border: 1px solid red; */
  margin: 0.5em;
}
